### فایل‌های تولید شده توسط کامپایلر ###
*.class
*.jar
*.war
*.ear

### فایل‌های IDE ###
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.settings/
.project
.classpath
bin/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

### سیستم‌عامل ###
.DS_Store
Thumbs.db

### لاگ‌ها و گزارش‌ها ###
*.log
*.tmp
*.swp

### فایل‌های سیستمی ###
*.bak
*.orig

### دایرکتوری‌های ساخت ###
build/
target/
